.container{
    width: 90%;
}
.img-slider img{
    height:550px;
    width:1680px ;
    align-items: right;
}
@keyframes slide{
    0%{
        left:0px;
    }
    15%{
        left:0px;
    }
    20%{
        left:-1080px;
    }
    32%{
        left:-1080px;
    }
    35%{
        left:-2160px;
    }
    47%{
        left:-2160px;
    }
    50%{
        left:-3240px;
    }
    63%{
        left:-3240px;
    }
    66%{
        left:-4320px;
    }
    79%{
        left: -4320px;
    }
    82%
    {
        left:-5400px;
    }
    100%{
        left:0px;
    }
}
.img-slider{

    display:flex;
    float:left;
    position:relative;
    width:1680px;
    height:550px;
    animation-name:slide;
    animation-duration:20s;
    animation-iteration-count: infinite;
    transition-duration: 20s;
    margin-bottom: 5rem;
}
/*************** media queries for tablets********************** */
@media screen and (max-width:1024px){
    .container{
        width: 95%;
    }
    .img-slider img{
        height:100;
        width:800;
        margin-top:7rem;
    }
    .img-slider{
        display:flex;
        float:left;
        position:relative;
        width:880px;
        height:100px;
        animation-name:slide;
        animation-duration:20s;
        animation-iteration-count: infinite;
        transition-duration: 20s;
        margin-bottom:38rem;
    }
    /* courses  */
    .courses{
        margin-top: 0;

    }
    .courses_container{
        grid-template-columns: 1fr 1fr;
    }
    /* footer  */
    .footer_container{
        grid-template-columns: 1fr 1fr;
    }
}
/*************** media queries for mobile********************** */
@media screen and (max-width:600px){
    .container{
        width: 95%;
    }
    .img-slider img{
        height:250px;
        width:450px;
        margin-top:7rem;
    }
    .img-slider{
        display:flex;
        float:left;
        position:relative;
        width:1000px;
        height:10px;
        animation-name:slide;
        animation-duration:30s;
        animation-iteration-count: infinite;
        transition-duration: 30s;
        margin-bottom:25rem;
    }
    /* popular courses  */
    .courses_container{
        grid-template-columns: 1fr;
    }
    /* footer  */
    .footer_container{
        grid-template-columns: 1fr;
        text-align: center;
        gap:2rem;
    }
    .footer_1 p{
        margin:1rem auto;
    }
    .footer_socials{
        justify-content: center;
    }
}